@model WebApplicationAccounrt.ConText.Account
@using WebApplicationAccounrt.ConText

@{
    ViewBag.Title = "AccountInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AccountInfo</h2>

@using (Html.BeginForm("AccountInfoSave", "CreateAccount", FormMethod.Post))
{
   
    

<div class="form-group">
    @Html.LabelFor(x => x.Title, htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.OpingDate, htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(x => x.OpingDate, new { @class = "form-control", type = "date" })
    @Html.ValidationMessageFor(x => x.OpingDate, "", new { @class = "text-danger" })
</div>

    <div class="form-group">
        @Html.LabelFor(x => x.Balance, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(x => x.Balance, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Balance, "", new { @class = "text-danger" })
    </div>

<div class="form-group">
    @Html.LabelFor(x => x.Type, htmlAttributes: new { @class = "control-label" })
    @Html.DropDownListFor(x => x.Type, new SelectList(Enum.GetValues(typeof(accountType))), "--Selest Type--", new { @class = "control-label" })
    @Html.ValidationMessageFor(x => x.Type, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(x => x.Phone, htmlAttributes: new { @class = "control-label" })
    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Phone, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>

}
    



