@model List<WebApplicationDataRead.Context.EmployeeTable>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    setTimeout(() => {
        const box = document.getElementById('hide');
        if (box) {
            box.style.transition = 'opacity 0.5s';
            box.style.opacity = '0';
            setTimeout(() => box.style.display = 'none', 500);
        }
    }, 3000);
</script>

<h2>Index</h2>

<hr />
<a href="@Url.Action("info", "Employee")" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Create Employee</a>
<hr />

<br />
@if (TempData["Success"] != null)
{
    <div class="alert alert-success" id="hide">
        <strong>Good Job!!</strong>
        @TempData["Success"]
    </div>
}
@if (TempData["remove"] != null)
{
    <div class="alert alert-danger" id="hide">
        <strong>Oh snap!</strong>
        @TempData["remove"]
    </div>
}

<table class="table table-hover">
    <thead>
        <tr>
            @*<th>Employee ID</th>*@
            <th>Name</th>
            <th>Joining Date</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>@item.Id</td>*@
                <td>@item.Name</td>
                <td>@item.JoingDate</td>
                <td>@item.Email</td>
                <td>@item.Call</td>
                <td>@item.Salay</td>
                <td>@item.designation</td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "EmployeeDelete", new { id = item.Id })*@
                    <a href="@Url.Action("EmployeeDelete",new{ item.Id})" , class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Remove Employee</a>  |
                    <a href="@Url.Action("info",new { item.Id,item.Name,item.JoingDate,item.Email,item.Salay,item.designation,item.Call })" , class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>Edit Employee</a>

                </td>
            </tr>
        }
    </tbody>
</table>
